*{
    margin: 0px;
    padding: 0px;
}
body{
    /* background-color: rgb(53, 129, 46); */
    /* background-image: url(https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
    /* background-repeat: no-repeat; */
    background-image: url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}

.main{
    width: 1300px;
    height: 600px;
    box-shadow: 3px 3px 10px 5px rgb(29, 73, 55);
    margin: 40px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 5px rgb(48, 44, 42);
    overflow: hidden;
    z-index: 100;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(104, 147, 182, 0.767);
    border-radius: 10   px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */

}
li{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    /* border: 5px solid red; */
    border-radius: 10px;
    color: rgb(228, 226, 226);
    text-transform: uppercase;

}  
a{
    text-decoration: none;
    font-size: 25px;
}
a :hover{
    background-color: rgb(187, 173, 128);
    text-decoration: none;
}






.content{
    width: 200px;
    height: 150px;
    /* border: 10px solid red; */
    color: rgb(255, 145, 0);
    margin: 20px;
}
.content h2 h1{
    color: rgb(255, 255, 255);
}
.content p{
    color: rgb(235, 231, 231);
}








.grid-crad{
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    grid-gap: 25px;
    /* border: 10px solid red; */
    width: 1300px;
    height:300px;
    margin-left: 50px ;
}
.grid-crad .box1{
    width: 280px;
    height: 200px;
    background: red;
    overflow: hidden;
    box-shadow: 3px 3px 10px 5px rgb(48, 44, 42);
    border-radius: 20px;
    background-image: url(https://images.pexels.com/photos/2582714/pexels-photo-2582714.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);

}
.grid-crad h2{
    color: rgb(255, 255, 255);
    margin: 10px;
}
.grid-crad .box2{
    width: 280px;
    height: 200px;
    background: rgb(156, 59, 59);
    box-shadow: 3px 3px 10px 5px rgb(48, 44, 42);
    border-radius: 20px;
    background-image: url(https://images.pexels.com/photos/1671324/pexels-photo-1671324.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    background-size: cover;
}
.grid-crad .box3{
    width: 280px;
    height: 200px;
    background: rgb(23, 15, 68);
    box-shadow: 3px 3px 10px 5px rgb(48, 44, 42);
    border-radius: 20px;
    background-image: url(https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}
.grid-crad .box4{
    width: 280px;
    height: 200px;
    background: rgb(21, 97, 33);
    box-shadow: 3px 3px 10px 5px rgb(48, 44, 42);
    border-radius: 20px;
    background-image: url(https://images.pexels.com/photos/1292115/pexels-photo-1292115.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}

.grid-crad :hover{
    background-color: rgba(128, 170, 204, 0.671);
    border-radius: 20px;
}




/* .product-content{
    width: 800px;
    height: 800px;
    border: 10px solid red;
} */

.product-content h2{
    color: rgb(165, 185, 202);
    display: flex;
    justify-content: center;

}
.product-content p{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.grid-content{
    /* height: 500px; */
    display: grid;
    grid-template-columns: 200px 200px 200px ;
    grid-gap: 100px;
    /* margin-left: 50px; */
    /* background-color: bisque; */
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    /* background-image: url(); */
}
.grid-content .box11{
    width: 200px;
    height: 230px;
    /* background: rgb(156, 59, 59); */
    box-shadow: 3px 3px 10px 5px rgb(112, 104, 100);
    border-radius: 20px;
    background-image: url(https://images.pexels.com/photos/1671324/pexels-photo-1671324.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    background-size: cover;
}
.grid-content .box22{
    width: 200px;
    height: 230px;
    /* background: rgb(156, 59, 59); */
    box-shadow: 3px 3px 10px 5px rgb(112, 104, 100);
    border-radius: 20px;
    background-image: url(https://images.pexels.com/photos/1671324/pexels-photo-1671324.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    background-size: cover;
}
.grid-content .box33{
    width: 200px;
    height: 230px;
    /* background: rgb(156, 59, 59); */
    box-shadow: 3px 3px 10px 5px rgb(112, 104, 100);
    border-radius: 20px;
    background-image: url(https://images.pexels.com/photos/1671324/pexels-photo-1671324.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    background-size: cover;
}
.grid-content .box44{
    width: 200px;
    height: 230px;
    /* background: rgb(156, 59, 59); */
    box-shadow: 3px 3px 10px 5px rgb(112, 104, 100);
    border-radius: 20px;
    background-image: url(https://images.pexels.com/photos/1671324/pexels-photo-1671324.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    background-size: cover;
}
.grid-content .box55{
    width: 200px;
    height: 230px;
    /* background: rgb(156, 59, 59); */
    box-shadow: 3px 3px 10px 5px rgb(112, 104, 100);
    border-radius: 20px;
    background-image: url(https://images.pexels.com/photos/1671324/pexels-photo-1671324.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    background-size: cover;
}
.grid-content .box66{
    width: 200px;
    height: 230px;
    /* background: rgb(156, 59, 59); */
    box-shadow: 3px 3px 10px 5px rgb(112, 104, 100);
    border-radius: 20px;
    background-image: url(https://images.pexels.com/photos/1671324/pexels-photo-1671324.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    background-size: cover;
}





.content-three {
    margin-top: 20px;
}
.content-three H2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px ;
}
.content-three p{
    height: 600px;
}





.footer{
    width: auto;
    height: 200px;
    background-color: rgb(39, 104, 141);
}


